/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/*/

/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
	Base styles: opinionated defaults
	==========================================================================*/

html {
	position: relative;
	min-height: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
	background: #00b7ce;
	text-shadow: none;
}

::selection {
	background: #00b7ce;
	text-shadow: none;
}

a:link {-webkit-tap-highlight-color: #00b7ce;}

/*
* A better looking default horizontal rule
*/

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #452812;
	margin: 1em 0;
	padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
	resize: vertical;
}

/* ==========================================================================
	Author's custom styles
	==========================================================================*/

/* BOOTSTRAP OVERRIDE */

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	margin-top: 0;
	margin-bottom: 24px;
}
h1, .h1, h2, .h2 {
	text-transform: uppercase;
}
h1, .h1 {
	font-family: 'Amatic SC', cursive;
	font-weight: 700;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline: none;
}

.btn,
.navbar a,
.product-big a,
.footer_social {
	-webkit-transition: all .3s;
	transition: all .3s;
}

.modal {
	z-index: 999999;
}

/* NAVBAR */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
	margin-top: 40px;
}
.navbar-wrapper .container {
	position: relative;
}
.navbar {
	border: none;
	border-radius: 72px;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.navbar .container {
	width: auto;
}

.navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 30px;
	position: absolute;
	top: -26px;
	z-index: 99;
}

.navbar-toggle {
	margin-top: 14px;
	margin-bottom: 13px;
	margin-right: 30px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: transparent;
}

.navbar-toggle .icon-bar {
	width: 26px;
	height: 5px;
	border-radius: 10px;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.navbar-toggle .icon-bar+.icon-bar {
	margin-top: 5px;
}
.navbar-toggle .icon-bar:nth-child(2) {
	-webkit-transform: rotate(-45deg) translateY(7px) translateX(-7px);
	    -ms-transform: rotate(-45deg) translateY(7px) translateX(-7px);
	        transform: rotate(-45deg) translateY(7px) translateX(-7px);
}
.navbar-toggle .icon-bar:nth-child(3) {
	opacity: 0;
}
.navbar-toggle .icon-bar:nth-child(4) {
	-webkit-transform: rotate(45deg) translateY(-7px) translateX(-7px);
	    -ms-transform: rotate(45deg) translateY(-7px) translateX(-7px);
	        transform: rotate(45deg) translateY(-7px) translateX(-7px);
}
.navbar-toggle.collapsed .icon-bar:nth-child(2) {
	-webkit-transform: rotate(0) translateY(0) translateX(0);
	    -ms-transform: rotate(0) translateY(0) translateX(0);
	        transform: rotate(0) translateY(0) translateX(0);
}
.navbar-toggle.collapsed .icon-bar:nth-child(3) {
	opacity: 1;
}
.navbar-toggle.collapsed .icon-bar:nth-child(4) {
	-webkit-transform: rotate(0) translateY(0) translateX(0);
	    -ms-transform: rotate(0) translateY(0) translateX(0);
	        transform: rotate(0) translateY(0) translateX(0);
}

.navbar-nav>li>a {
	font-family: 'Amatic SC', cursive;
	font-size: 45px;
	line-height: 57px;
	font-weight: 700;
	text-transform: uppercase;
}

@media (min-width: 768px) {
	.navbar-nav>li {
		float: none;
	}
}

@media (max-width: 767px) {
	.navbar-nav>li>a {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.nav-justified>li>a {
		text-align: center;
		margin-bottom: 0;
	}
	.nav-justified {
		width: auto;
	}
}

@media (min-width: 1200px) {
	.navbar-logo {
		min-width: 186px !important;
	}
}

.navbar-logo img {
	margin: auto;
	position: absolute;
	top: -16px;
	left: 0;
	bottom: 0;
	right: 0;
}

.nav>li>a>img {
	max-width: 100%;
}

.navbar-nav>li>a.link-donuts, .link-donuts {
	color: #00b7ce;
}
.navbar-nav>li>a.link-donuts:hover, .link-donuts:hover,
.navbar-nav>li>a.link-donuts:focus, .link-donuts:focus,
.navbar-nav>.active>a.link-donuts,
.navbar-nav>.active>a.link-donuts:hover,
.navbar-nav>.active>a.link-donuts:focus {
	color: #007382;
}
.navbar-nav>li>a.link-bagels, .link-bagels {
	color: #f16687;
}
.navbar-nav>li>a.link-bagels:hover, .link-bagels:hover,
.navbar-nav>li>a.link-bagels:focus, .link-bagels:focus,
.navbar-nav>.active>a.link-bagels,
.navbar-nav>.active>a.link-bagels:hover,
.navbar-nav>.active>a.link-bagels:focus {
	color: #eb2050;
}
.navbar-nav>li>a.link-shakes, .link-shakes {
	color: #7c51a1;
}
.navbar-nav>li>a.link-shakes:hover, .link-shakes:hover,
.navbar-nav>li>a.link-shakes:focus, .link-shakes:focus,
.navbar-nav>.active>a.link-shakes,
.navbar-nav>.active>a.link-shakes:hover,
.navbar-nav>.active>a.link-shakes:focus {
	color: #55376e;
}
.navbar-nav>li>a.link-drinks, .link-drinks {
	color: #fecc4e;
}
.navbar-nav>li>a.link-drinks:hover, .link-drinks:hover,
.navbar-nav>li>a.link-drinks:focus, .link-drinks:focus,
.navbar-nav>.active>a.link-drinks,
.navbar-nav>.active>a.link-drinks:hover,
.navbar-nav>.active>a.link-drinks:focus {
	color: #feb602;
}

@media (max-width: 767px) {
	.navbar-nav>li>a.link-donuts {
		color: #ffffff;
		background-color: #00b7ce;
	}

	.navbar-nav>li>a.link-bagels {
		color: #ffffff;
		background-color: #f16687;
	}

	.navbar-nav>li>a.link-shakes {
		color: #ffffff;
		background-color: #7c51a1;
	}

	.navbar-nav>li>a.link-drinks {
		color: #ffffff;
		background-color: #fecc4e;
	}
}

.navbar-wrapper .lang {
	display: block;
	width: 54px;
	height: 54px;
	margin: 10px auto;
	padding: 0;
	line-height: 47px;
	text-align: center;
	font-family: 'Nunito', sans-serif;
	font-size: 22px;
	font-weight: 700;
	color: #00b7ce;
	border: 4px solid #00b7ce;
	border-radius: 27px;
	transition: all .3s;
	-webkit-transition: all .3s;
}
.navbar-wrapper .lang:hover {
	color: #fff !important;
	background-color: #00b7ce !important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: transparent;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
	.navbar-wrapper {
		margin-top: 96px;
	}

	.navbar-wrapper > .container {
		padding-right: 70px;
	}

	.navbar-wrapper .lang {
		position: absolute;
		top: 10px;
		right: 0;
		margin: 0;
		color: #fff;
		border-color: #fff;
	}
	.navbar-wrapper .lang:hover {
		color: #007382 !important;
		background-color: #fff !important;
	}

	.navbar {
		box-shadow: none;
	}
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
	height: 800px;
}
.carousel-inner {
	height: 100%;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
	height: 100%;
}

.carousel-indicators {
	bottom: 10px;
}

.carousel-indicators li {
	width: 22px;
	height: 22px;
	margin: 7px;
	border-width: 8px;
	border-radius: 22px;
	/*box-shadow: 0 1px 2px rgba(0,0,0,.6);*/
}
.carousel-indicators .active {
	width: 22px;
	height: 22px;
	margin: 7px;
	background-color: transparent;
	border-color: #f16687;
}
.carousel-indicators .indicator-donuts.active {
	border-color: #00b7ce;
}
.carousel-indicators .indicator-bagels.active {
	border-color: #f16687;
}
.carousel-indicators .indicator-shakes.active {
	border-color: #7c51a1;
}
.carousel-indicators .indicator-drinks.active {
	border-color: #fecc4e;
}

.welcome-text {
	position: absolute;
	bottom: 90px;
}
.welcome-text .label {
	transition: all .5s;
	-webkit-transition: all .5s;
}

@media (max-width: 767px) {
	.welcome-text {
		bottom: 80px;
	}

	.carousel-indicators {
		bottom: 0;
	}

}

/* CONTENT */

.label-big {
	font-size: 54px;
	line-height: normal;
	padding-top: .05em;
	padding-bottom: .05em;
	border-radius: 85px;
}

@media (max-width: 767px) {
	.label-big {
		font-size: 28px;
		border-radius: 40px;
	}
}

.label-donuts {
	background-color: #00b7ce;
}
.label-bagels {
	background-color: #f16687;
}
.label-shakes {
	background-color: #7c51a1;
}
.label-drinks {
	background-color: #fecc4e;
}
.label strong {
	font-weight: 900;
}
.label-rounded {
	border-radius: 101px;
}

.bg-donuts {
	background-color: #00b7ce;
}
.bg-bagels {
	background-color: #f16687;
}
.bg-shakes {
	background-color: #7c51a1;
}
.bg-drinks {
	background-color: #fecc4e;
}

.product-big {
	text-align: center;
	color: #ffffff;
	padding: 65px 95px 15px 95px;
}
.product-big a {
	font-family: 'Amatic SC', cursive;
	font-size: 90px;
	font-weight: 700;
	color: #ffffff;
	display: inline-block;
	overflow: hidden;
}
.product-big a div{
	max-width: 445px;
	max-height: 445px;
	overflow: hidden;
	-webkit-mask-image: -webkit-radial-gradient(circle, white, black);
}
.product-big a div img {
	transition: all .4s;
	-webkit-transition: all .4s;
}
.product-big a:hover div img {
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
}
@media (max-width: 991px) {
	.product-big {
		padding-left: 40px;
		padding-right: 40px;
	}
}
@media (max-width: 767px) {
	.product-big {
		padding-left: 0;
		padding-right: 0;
	}
	.product-big.pull-left, .product-big.pull-right {
		float: none !important;
	}
}

.bg-candy {
	background: transparent url('../images/bg_candy.png') repeat center top;
}

#product_parallax_bg {
	min-height: 360px;
	height:auto !important;
	height: 360px;
	margin-bottom: 100px;
	position: relative;
}
#product_parallax_bg h1 {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -53px;
	margin: 0;
	text-align: center;
}
#product_parallax_bg h1 .label {
	padding: 0 35px;
}
@media (max-width: 767px) {
	#product_parallax_bg {
		min-height: 250px;
		height:auto !important;
		height: 250px;
		margin-bottom: 70px;
	}

	#product_parallax_bg h1 {
		bottom: -46px;
	}

	#product_parallax_bg h1 .label {
		font-size: 60px;
		border-radius: 76px;
	}
}

.media {
	margin-bottom: 24px;
}
.media-left, .media>.pull-left {
	padding-right: 25px;
}
.media p {
	margin-bottom: 0;
}

@media (min-width: 768px) {
	.media {
		margin-bottom: 90px;
	}
}

@media (max-width: 767px) {
	.media-left, .media>.pull-left {
		display: block;
		padding-right: 0;
	}
	.media-body {
		text-align: center;
	}
}

.media-body {
	font-weight: 700;
}

/* FOOTER */

.footer {
	padding-top: 60px;
	padding-bottom: 60px;
	font-size: 20px;
}
.footer_social {
	margin-top: 25px;
	opacity: .8;
}
.footer_social:hover{
	opacity: 1;
}
.footer .footer-phone-email {
	display: inline-block;
	margin: 0 30px;
}

@media (max-width: 767px) {
	.footer {
		text-align: center;
		font-size: 18px;
	}
	.footer .img-responsive {
		display: inline-block;
	}
	.footer .footer-logo {
		float: none !important;
	}
	.footer .footer-phone-email {
		margin-bottom: 15px;
	}
}

@media (max-width: 390px) {
	.footer address,
	.footer .footer-phone-email {
		margin-right: 0;
		margin-left: 0;
		font-size: 14px;
	}
}

/* ==========================================================================
	Helper classes
	==========================================================================*/

.no-gutter {
	padding-right: 0;
	padding-left: 0;
}
.no-gutter-left {
	padding-left: 0;
}
.no-gutter-right {
	padding-right: 0;
}
@media (max-width: 767px) {
	.no-gutter {
		padding-right: 15px;
		padding-left: 15px;
	}
	.no-gutter-left {
		padding-left: 15px;
	}
	.no-gutter-right {
		padding-right: 15px;
	}
}
.no-padding {
	padding: 0 !important;
}
.no-margin {
	margin: 0 !important;
}
.row-margin-bottom, .col-margin-bottom {
	margin-bottom: 30px;
}

.text-white {
	color: #fff !important;
}
.text-black {
	color: #000 !important;
}
.text-body {
	color: #452812 !important;
}
.bg-white {
	background-color: #ffffff;
}
.bg-black {
	background-color: black;
}
